<!doctype html>
<html lang="en">

    <head>
        <title>Flask Leaflet Website</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/universal.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    </head>

    <body>
        <div id="map"></div>
        <script src="static/universal.js"></script>
        <div class="menu">
            <select id="category" onchange="changeUrl()">
                {% for type in types %}
                    {% if activeCy == type['name']: %}
                    <option selected="" value="{{ type['name'] }}">{{ type['text'] }}</option>
                    {% else %}
                    <option value="{{ type['name'] }}">{{ type['text'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select id="year" onchange="changeUrl()">
                {% for year in years %}
                    {% if activeYr == year: %}
                    <option selected="" value="{{ year }}">{{ year }}</option>
                    {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <script>
            {% for marker in markers %}
            L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
                .bindPopup("{{ marker['popup']|safe }}");
            {% endfor %}
        </script>
    </body>

</html>